<ion-header>
  <ion-navbar color="primary">
    <ion-title  class="titre">Detail de la ligne</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-searchbar (ionInput)="getItems($event)" (ionClear)="onClear()" ></ion-searchbar>
    <ion-row *ngFor="let root of roots">
       <ion-col col-5 class="colu">
         <h6>{{root.name}}</h6>
       </ion-col>
       <ion-col col-7 class="colu">
         <ion-icon *ngFor="let line of root.lines" class="icontab" class="{{whichIcon(line)}}"></ion-icon><p>
       </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>